<nav class="nav flex-column px-3">
    <NavLink href="" Match="NavLinkMatch.All" class="nav-link">
        Home
    </NavLink>

    <NavLink href="education" class="nav-link">
        Education
    </NavLink>
    
    <NavLink href="certificates" class="nav-link">
        Certificates
    </NavLink>
    
    <NavLink href="skills" class="nav-link">
        Skills
    </NavLink>
    
    <NavLink href="projects" class="nav-link">
        Projects
    </NavLink>
    
    <NavLink href="contact" class="nav-link">
        Contact
    </NavLink>
</nav>
