@page "/certificates"
<h2 xmlns="http://www.w3.org/1999/html">Certificates</h2>

<h4>AI Skills Hub</h4>

<p>
    <strong>June 2025</strong> <br />
    Completed a comprehensive AI certification program through the official Microsoft and 
    Durban University of Technology (DUT)  <br/>
    Courses included:
        <li>AI Fundamentals</li>
        <li>Generative AI</li>
        <li>Search Technology</li>
        <li>Responsible AI</li>
        <li>Microsoft Copilot</li>
        <li>AI & Accessibility</li>
</p>