@page "/contact"
<h2>Contact</h2>

<p>
    I am open to internship/mentorship, collaboration and networking.
</p>

<ul>
    <li>
        <a href="mailto:bmap750@gmail.com">
            bmap750@gmail.com
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/bathandwa-maphumulo-216177180/" target="_blank">
            LinkedIn
        </a>
    </li>
    <li>
        <a href="https://github.com/BathandwaLet" target="_blank">
            GitHub
        </a>
    </li>
</ul>