@page "/contact"
<h2>Contact</h2>

<p>
    Let's talk, I am open to internship/mentorship and collaboration.
</p>

<ul>
    <li>
        <a href="mailto:bmap750@gmail.com">
            <i class="fa-solid fa-envelope"></i>
            <span>Email</span>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/bathandwa-maphumulo-216177180/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
            <span>LinkedIn</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/BathandwaLet" target="_blank">
            <i class="fa-brands fa-github"></i>
            <span>GitHub</span>
        </a>
    </li>
</ul>