@page "/education"

<h2>Education</h2>

<h4><strong>Durban University of Technology</strong></h4><br />
<p>
    Bachelor of Information and Communications Technology (BICT)<br />
    <em>2025 - Present</em>
</p>

<h5>Relevant Modules</h5>
<ul>
    <li>Software Development Fundamentals</li>
    <li>Systems Fundamentals</li>
    <li>Introduction to Computing</li>
    <li>Discrete Structures</li>
</ul>