@page "/"

<PageTitle>About Me</PageTitle>

<h1>Bathandwa Lethuxolo Maphumulo</h1>
<h4>Information and Communications Technology Student</h4>

<p>
    I am an Information and Communications Technology student at the Durban University of Technology (DUT)
    with a strong interest in software development, systems design and problem-solving.
</p>

<p>
    My aim is to build clean, maintainable applications using C#, .NET and modern web technologies.
    I enjoy turning real-world problems into structured software solutions.
</p>

