@page "/projects"
<h2>Projects</h2>

<h4>Risk n Reward</h4>
<p>
    Risk n Reward is a game logic written in C#.
    Its scope focuses on probability-based decision-making, betting mechanisms and reward mechanics/balancing.
    The current implementation is a console-based application with the intention of being expanded into a full platform.
</p>
<a href="https://github.com/BathandwaLet/Risk_n_Reward" target="_blank">
    View on GitHub
</a>

<hr />

<h4>My Student Productivity App</h4> 
<p>
    <em>Coming soon</em>
    A Blazor-based academic tracking system focused on reaching academic goals, progress and exam preparation
</p>

<h4>Portfolio Website</h4>
<p>
    Personal portfolio built with Blazor WebAssembly and .NET 9
</p>
<a href="https://github.com/BathandwaLet/Bathandwa_Portfolio" target="_blank">
    View on GitHub
</a>