@page "/projects"
<h2>Projects</h2>

<h4>Risk n Reward</h4>
<p>
    A C# based project that explores some probability based games such as Coin Toss,
    Lucky Dice, Pick Five and more.
</p>
<a href="https://github.com/BathandwaLet/Risk_n_Reward" target="_blank">
    View on GitHub
</a>

<hr />

<h4>My Student Productivity App</h4> 
<p>
    <li><em>Coming soon</em></li>
    A Blazor-based academic tracking system focused on reaching academic goals, progress and exam preparation
</p>
<a href="https://github.com/BathandwaLet/Risk_n_Reward" target="_blank">
    View on GitHub
</a>

<h4>My Portfolio Website</h4>
<p>
    Personal portfolio built with Blazor WebAssembly and .NET 9
</p>
<a href="https://github.com/BathandwaLet/Risk_n_Reward" target="_blank">
    View on GitHub
</a>