@page "/Skills"

<h3>Technological Skills</h3>
<ul>
    <li>C#, .NET, Blazor WebAssembly</li>
    <li>Git & GitHub</li>
    <li>MySQL (foundational)</li>
    <li>CSS, HTML (foundational)</li>
    <li>JavaScript (foundational)</li>
    
</ul>